
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.barrel-text {
  .barrel {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    min-height: 120vh;
    margin: 100vh 0;
  
    &::before {
      position: absolute;
      inset: 3vw auto auto 3vw;
      font-size: clamp(32px, 12vw, 120px);
    }
  
    h1 {
      perspective: 1234px;
      transform-style: preserve-3d;
      font-family: 'Montserrat', sans-serif;
      font-size: clamp(48px, 7vw, 120px);
      // font-size: 7vw;
      font-weight: 800;
      line-height: 104%;
      text-align: center;
      // text-transform: uppercase;
    }
  }
  
  .barrel--1 {
    perspective: 1234px;
    transform-style: preserve-3d;
    // background: #111;
    // color: #fff;
  
    &::before {
      content: 'Version 1';
    }
  
    div {
      // transform-origin: 50% -100%;
      perspective: 1234px;
      transform-style: preserve-3d;
    }
  
    // h1 {
    //   opacity: 0;
    // }
  }
  
  .barrel--2 {
    // perspective: 1234px;
    // transform-style: preserve-3d;
    background: #111;
    color: #fff;
  
    &::before {
      content: 'Version 2';
    }
  
    > div {
      // transform-origin: 50% 0%;
      perspective: 1234px;
      transform-style: preserve-3d;
      // opacity: 0;
  
      > div {
        // transform-origin: 50% 0%;
        perspective: 1234px;
        transform-style: preserve-3d;
      }
  
      // &:nth-child(4) h1 {
      //   display: flex;
      //   align-items: center;
      //   // margin: -1vw 0;
      //   height: 7vw;
      //   font-size: 3vw;
      // }
  
      // &:nth-child(5) h1 {
      //   font-size: 2vw;
      // }
    }
  }
  
  .barrel--3 {
    display: none;
  
    &::before {
      content: 'Version 3';
    }
  
    div,
    h1 {
      perspective: 1234px;
      transform-style: preserve-3d;
    }
  }
}
