@mixin isMobile {
  @media (max-width: 767px) {
    @content;
  }
}

@mixin isDesktop {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin isUltrawide {
  @media (min-width: 2560px) {
    @content;
  }
}

@font-face {
  font-display: swap;
  font-family: 'Aeonik';
  font-style: normal;
  font-weight: 700;
  src: url('../../assets/fonts/aeonik-bold.otf') format('opentype');
}

@font-face {
  font-display: swap;
  font-family: 'Aeonik';
  font-style: normal;
  font-weight: 500;
  src: url('../../assets/fonts/aeonik-medium.otf') format('opentype');
}

@font-face {
  font-display: swap;
  font-family: 'Aeonik';
  font-style: normal;
  font-weight: 400;
  src: url('../../assets/fonts/aeonik-regular.otf') format('opentype');
}

@font-face {
  font-display: swap;
  font-family: 'Aeonik';
  font-style: normal;
  font-weight: 600;
  src: url('../../assets/fonts/aeonik-semibold.otf') format('opentype');
}

.branding-page-html {
  --color-gray: #EEF2F6;
  --color-gray-dark: #D3DFE8;
  --color-navy: #0B1423;
  --color-red: #FF3D00;
  --color-white: #F8FAFB; // rgb(248, 250, 251)

  --mobile-design-width: 440; // 440;
  --desktop-design-width: 1440;
  --ultrawide-breakpoint: 2560;
  
  scroll-behavior: smooth;
  font-size: calc((100 / var(--mobile-design-width)) * 1vw);// This must match desktop-xl breakpoint

  @include isDesktop {
    font-size: calc((100 / var(--desktop-design-width)) * 1vw);
  }

  @include isUltraWide {
    font-size: calc(((100 / var(--desktop-design-width)) * var(--ultrawide-breakpoint) / 16) * 0.01rem);
  }
}

.branding-page-body {
  background: var(--color-navy);
  font-family: 'Aeonik', sans-serif;
  font-size: 21rem;

  .date {
    padding: 21rem;
    color: var(--color-red);
    font-size: 11px;
    pointer-events: none;
  }
}

.branding-page {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  min-height: 200vh;
  opacity: 0;

  // Typography

  .split-char,
  .split-line,
  .split-word {
    will-change: transform;
  }

  .split-break {
    @include isDesktop {
      display: none;
    }
  }

  h1 {
    position: relative;
    z-index: 1;
    font-size: 100rem;
    font-weight: 600;
    line-height: 121%;
    
    @include isMobile {
      font-size: 64rem;
    }
    
    .split-line {
      margin: -18rem 0;
      text-align: center;
    }
  }

  h2 {
    font-size: 24rem;
    font-weight: 600;
    line-height: 135%;
  }

  p {
    font-size: 21rem;
    font-weight: 400;
    line-height: 150%;
  }

  // Navigation
  
  .navigation {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    gap: 10rem;
    position: fixed;
    inset: auto 0 0;
    z-index: 21;
    height: 64rem;
    margin: 36rem;
    pointer-events: none;
    transition: opacity 0.321s;

    &__logo {
      flex: 0 0 auto;
      display: flex;
      align-items: center;
      position: relative;
      z-index: 1;
      height: 64rem;
      padding: 0 24rem;
      overflow: hidden;
      backdrop-filter: blur(4px);
      border: 1px solid rgba(255, 255, 255, 0.08);
      border-radius: 32rem;
      color: var(--color-red);
      font-size: 123%;
      pointer-events: all;
      transition: border 0.321s;

      svg {
        transform: translateY(1rem);
        width: 44rem;
        height: 25rem;
      }
    }

    &__links {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      gap: 48rem;
      position: relative;
      z-index: 1;
      height: 64rem;
      padding: 0 36rem;
      overflow: hidden;
      backdrop-filter: blur(4px);
      border: 1px solid rgba(255, 255, 255, 0.08);
      border-radius: 32rem;
      transition: border 0.321s;
    }
    
    &__link {
      position: relative;
      z-index: 1;
      color: var(--color-white);
      font-size: 16rem;
      font-weight: 500;
      pointer-events: all;
      transition: color 0.321s;

      @include isMobile {
        font-size: 0;
      }
    }

    &__link-status {
      position: absolute;
      inset: auto 0 -7rem;
      z-index: -1;

      > div {
        transform: scaleX(0);
        transform-origin: 0% 0%;
        width: 100%;
        height: 2rem;
        background: var(--color-red);
      }
    }
    
    &__background {
      position: absolute;
      inset: 0;
      z-index: -1;
      background: var(--color-white); 
      border-radius: 32rem;
      opacity: 0.03;
      transition: background 0.321s, opacity 0.321s;
    }
  }

  .navigation--white {
    .navigation__logo,
    .navigation__links {
      border-color: rgba(11, 20, 35, 0.07);
    }

    .navigation__link {
      color: var(--color-navy);
    }
 
    .navigation__background {
      background: var(--color-navy);
      opacity: 0.02;
    }
  }

  // Layout/sections - general styles + section specific

  .section {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    z-index: 1;
    overflow: hidden;
    clip-path: inset(0% 0% 0% 0%);

    &__headline {
      display: flex;
      align-items: center;
      justify-content: center;
      position: fixed;
      inset: 0 0 auto;
      z-index: 2;
      height: 100vh;
      margin: 0 auto;
      padding: 0 0 64rem;
      pointer-events: none;

      .container > div {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        gap: 30rem;
      }

      h1,
      p {
        pointer-events: all;
      }

      p {
        margin-bottom: 4rem;
        color: var(--color-red);
        font-size: 16rem;
        font-weight: 700;
        line-height: 150%;
        text-transform: uppercase;
      }

      &--small {
        .container > div {
          flex-direction: row;
          align-items: flex-start;
          justify-content: flex-start;

          @include isMobile {
            flex-direction: column;
            // align-items: center;
            // justify-content: center;
          }
        }

        p {
          @include isDesktop {
            flex: 0 0 16%;
          }
        }

        h1 {
          flex: 1 1 auto;
          font-size: 64rem;
          line-height: 130%;
          text-align: left;

          @include isMobile {
            font-size: 48rem;

            .split-line {
              margin: -12rem 0;
            }
          }
        }
      }
    }

    &__content {
      display: flex;
      flex-flow: column nowrap;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 180rem;
      position: relative;
      z-index: 3;
      width: 100%;
      margin: 125vh 0 0;
      padding: 0 0 180rem;

      @include isMobile {
        gap: 80rem;
        margin-top: 112vh;
        padding-bottom: 80rem;
      }
    }

    &__shapes {
      position: absolute;
      inset: 0;
      z-index: 1;
      // opacity: 0.2;
      will-change: transform;

      > div {
        position: absolute;
        z-index: 1;
        width: 440rem;
        aspect-ratio: 1;
        // border-radius: 50%;
        // border: 13rem solid var(--color-red);

        &:nth-child(2n) {
          left: -3%;
        }

        &:nth-child(2n + 1) {
          right: -3%;
        }

        @for $i from 1 through 10 {
          &:nth-child(#{$i})  {
            top: #{-30 + 10 * $i + '%'};
          }
        }
      }
    }

    &--navy {
      background: var(--color-navy);
      color: var(--color-white);

      .section__content {
        background: var(--color-navy);
      }
    }

    &--white {
      background: var(--color-white);
      color: var(--color-navy);

      .section__content {
        background: var(--color-white);
      }
    }
  }

  .section--home {
    justify-content: center;
    min-height: 100vh;

    .section__headline {
      height: 100svh;
    }

    .circles {
      position: fixed;
      inset: 0 0 auto;
      z-index: 1;
      height: 100svh;
    }

    .circle {
      position: absolute;
      inset: 50% auto auto 50%;
      z-index: 1;
      transform: translate(-50%, calc(-50% - 32rem));

      @for $i from 1 through 5 {
        &:nth-child(#{$i}) .circle__container {
          width: #{360 + (270 * $i) + 'rem'};
          opacity: #{0.9 - (0.17 * $i)};

          @include isMobile {
            width: #{180 + (210 * $i) + 'rem'};
          }

          .shape__gradient {
            animation-duration: #{11 * $i + 's'};
          }
        }
      }
    }
  }

  .section--sign {
    .box--1 .box__container {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: space-evenly;

      @include isMobile {
        flex-direction: column;
      }
    }

    .logo {
      width: 21%;
    }

    .details {
      width: 100%;

      &__boxes {
        display: flex;
        flex-flow: column nowrap;
        gap: 40rem;
        position: relative;
        z-index: 1;

        @include isMobile {
          gap: 30rem;
        }
      }

      &__text {
        @include isDesktop {
          padding-right: 40rem;
        }

        @include isMobile {
          margin-bottom: 56rem;
        }
      }
    }
  }

  // .section--colors {

  // }

  .section--typography {
    .typography-circles {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      width: 100%;
      padding: 0 15rem;

      @include isMobile {
        flex-direction: column;
        padding: 0;
      }
    }

    .typography-circle {
      flex: 0 0 calc(20% + 30rem);
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: center;
      width: calc(20% + 30rem);
      margin: 0 -15rem;
      aspect-ratio: 1;
      border: 1px solid var(--color-gray-dark);
      border-radius: 50%;
      text-align: center;

      @include isMobile {
        flex: 0 0 60%;
        width: 60%;
        margin: -15rem 0;
      }

      p {
        font-size: 24rem;
      }
    }

    .box .box__container {
      aspect-ratio: 1;

      @include isDesktop {
        aspect-ratio: 4 / 3;
      }
    }
  }

  .section--symbols {
    .symbols {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: center;
      gap: 60rem;
      width: 100%;
      margin: -50rem auto;
      padding: 50rem 0;
      background: var(--color-navy);

      @include isMobile {
        width: 80%;
        flex-wrap: wrap;
        gap: 40rem;
      }
    }

    .symbol {
      flex: 0 0 40rem;
      width: 40rem;
      aspect-ratio: 1;
      background: var(--color-red);
      border-radius: 50%;
    }

    .shapes {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      @include isMobile {
        flex-direction: column;
        gap: 60rem;
      }
    }

    .shape {
      width: 270rem;

      @include isMobile {
        width: 66%;
      }
    }
  }

  .section--tone {
    .tone__text {
      text-align: center;

      strong {
        color: var(--color-red);
      }
    }

    .box__container {
      @include isMobile {
        aspect-ratio: 1;
      }
    }
  }

  .section--appearance {
    .box--small .box__container {
      aspect-ratio: 4 / 3;
    }

    .box .box__container {
      @include isMobile {
        aspect-ratio: 1;
      }
    }
  }

  .section--summary {
    .section__content {
      background: none;
    }
  }

  .footer {
    &::before {
      content: '';
      display: block;
      height: 45vh;
      background: var(--color-red);
      filter: brightness(0.9);
    }
    // height: 100vh;

    &::after {
      content: '';
      display: block;
      height: 75vh;
      background: var(--color-navy);
    }
  }

  // Components

  .container {
    width: 100%;
    max-width: 1440rem;
    margin: 0 auto;
    padding: 0 180rem;

    @include isMobile {
      padding: 0 24rem;
    }
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    gap: 40rem;
    width: 100%;
    
    @include isMobile {
      grid-template-columns: minmax(0, 1fr);
      gap: 24rem;
    }

    &__col {
      grid-column: span 1;
  
      @for $i from 1 through 12 {
        &--#{$i}  {
          @include isDesktop {
            grid-column: span $i;
          }
        }
      }
    }
  }

  .box {
    width: 100%;

    &__container {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      aspect-ratio: 16 / 9;
      border-radius: 40rem;

      @include isMobile {
        aspect-ratio: 9 / 16;
        border-radius: 30rem;
      }
    }

    &--gray .box__container {
      background: var(--color-gray);
      color: var(--color-navy);
    }

    &--navy .box__container {
      background: var(--color-navy);
      color: var(--color-white);
    }

    &--red .box__container {
      background: var(--color-red);
      color: var(--color-gray);
    }

    &--white .box__container {
      background: var(--color-white);
      color: var(--color-navy);
    }

    &--small .box__container {
      border-radius: 30rem;

      @include isMobile {
        aspect-ratio: 16 / 9;
      }
    }
  }

  .logo {
    width: 123rem;
    aspect-ratio: 1;
    background: var(--color-red);
    border-radius: 50%;
  }
  
  .shape {
    position: relative;
    z-index: 1;
    width: 300rem;
    overflow: hidden;
    aspect-ratio: 1;
    mask-size: cover;

    &--circle-stroke {
      mask-image: url('data:image/svg+xml;utf8,\
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">\
          <circle cx="50" cy="50" r="45" fill="none" stroke="black" stroke-width="3" vector-effect="non-scaling-stroke" />\
        </svg>');

      @include isMobile {
        mask-image: url('data:image/svg+xml;utf8,\
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">\
            <circle cx="50" cy="50" r="45" fill="none" stroke="black" stroke-width="2" vector-effect="non-scaling-stroke" />\
          </svg>');
      }
    }

    &__gradient {
      position: absolute;
      inset: -66rem;
      z-index: 0; 
      will-change: transform;

      &--conic {
        background: conic-gradient(
          from 180deg at 50% 50%,
          var(--color-red) 0deg,
          rgba(255, 0, 0, 0) 45deg,
          var(--color-red) 90deg,
          rgba(255, 0, 0, 0) 180deg,
          var(--color-red) 270deg,
          rgba(255, 0, 0, 0) 315deg,
          var(--color-red) 360deg
        );
        animation: gradient-rotation 21s linear infinite;
  
        @keyframes gradient-rotation {
          0% {
            transform: rotate(0deg);
          }
          100% {
            transform: rotate(360deg);
          }
        }
      }
    }
  }
}
