
.branding-page { 
  .navigation {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    gap: 10rem;
    position: fixed;
    inset: auto 0 0;
    z-index: 21;
    height: 64rem;
    margin: 36rem;
    pointer-events: none;
    user-select: none;
    transition: opacity 0.321s;

    &__logo {
      flex: 0 0 auto;
      display: flex;
      align-items: center;
      position: relative;
      z-index: 1;
      height: 64rem;
      padding: 0 24rem;
      overflow: hidden;
      backdrop-filter: blur(4px);
      border: 1px solid transparent;
      border-radius: 32rem;
      color: var(--color-red);
      font-size: 123%;
      pointer-events: all;
      transition: border 0.321s;
      
      svg {
        transform: translateY(1rem);
        width: 44rem;
        height: 25rem;
        // filter: brightness(0.95); // TODO: Check later
      }
    }

    &__links {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      gap: 48rem;
      position: relative;
      z-index: 1;
      height: 64rem;
      padding: 0 36rem;
      overflow: hidden;
      backdrop-filter: blur(4px);
      border: 1px solid transparent;
      border-radius: 32rem;
      transition: border 0.321s;
    }
    
    &__link {
      position: relative;
      z-index: 1;
      font-size: 16rem;
      font-weight: 500;
      line-height: 150%;
      pointer-events: all;
      transition: color 0.321s;

      @include isMobile {
        font-size: 0;
      }

      > div {
        pointer-events: none;
      }
    }

    &__link-status {
      position: absolute;
      inset: auto 0 -6rem;
      z-index: -1;

      > div {
        transform: scaleX(0);
        transform-origin: 0% 0%;
        width: 100%;
        height: 2rem;
        background: var(--color-red);
      }
    }

    &__link-highlight {
      position: absolute;
      inset: auto 0 -6rem;
      z-index: -2;
      height: 2rem;
      opacity: 0;
      transition: background 0.321s, opacity 0.321s;
    }
    
    &__background {
      position: absolute;
      inset: 0;
      z-index: -1;
      border-radius: 32rem;
      opacity: 0.021;
      transition: background 0.321s, opacity 0.321s;
    }

    // &::before { // TODO: Test this later
    //   content: '';
    //   position: absolute;
    //   inset: 20rem;
    //   z-index: 1;
    //   background: var(--color-navy);
    //   filter: blur(16rem);
    //   opacity: 0.1;
    // }
  }

  .navigation--navy {
    .navigation__logo,
    .navigation__links {
      border-color: rgba(var(--color-white-rgb), 0.08)
    }

    .navigation__link {
      color: var(--color-white);
    }

    .navigation__link-highlight {
      background: rgba(var(--color-white-rgb), 0.1);
    }
 
    .navigation__background {
      background: var(--color-white);
    }
  }

  .navigation--white {
    .navigation__logo,
    .navigation__links {
      border-color: rgba(var(--color-navy-rgb), 0.07);
    }

    .navigation__link {
      color: var(--color-navy);
    }

    .navigation__link-highlight {
      background: rgba(var(--color-navy-rgb), 0.07);
    }
 
    .navigation__background {
      background: var(--color-navy);
    }

    // &::before { // TODO: Remove later
    //   background: var(--color-white);
    // }
  }
}
