
.branding-page {
  .section {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    z-index: 1;
    overflow: hidden;
    clip-path: inset(0% 0% 0% 0%);

    &__headline {
      display: flex;
      align-items: center;
      justify-content: center;
      position: fixed;
      inset: 0 0 auto;
      z-index: 2;
      height: 100vh;
      margin: 0 auto;
      padding: 0 0 64rem;
      pointer-events: none;
  
      .container > div {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        gap: 30rem;
      }
  
      h1,
      p {
        pointer-events: all;
      }
  
      p {
        margin-bottom: 4rem;
        color: var(--color-red);
        font-size: 16rem;
        font-weight: 700;
        letter-spacing: 0.03em;
        line-height: 150%;
        text-transform: uppercase;
      }

      &--small {
        .container > div {
          flex-direction: row;
          align-items: flex-start;
          justify-content: flex-start;

          @include isMobile {
            flex-direction: column;
            // align-items: center;
            // justify-content: center;
          }
        }

        p {
          @include isDesktop {
            flex: 0 0 16%;
          }
        }

        h1 {
          flex: 1 1 auto;
          font-size: 64rem;
          line-height: 126%;
          text-align: left;

          @include isMobile {
            font-size: 48rem;
          }
        }
      }
    }

    &__headline-bottom-marker {
      position: absolute;
      inset: 100vh 0 auto;
      z-index: 1;
      // background: var(--color-red);
      // height: 1px;
    }

    &__content {
      display: flex;
      flex-flow: column nowrap;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 180rem;
      position: relative;
      z-index: 3;
      width: 100%;
      margin: 125vh 0 0;
      padding: 0 0 180rem;

      @include isMobile {
        gap: 80rem;
        margin-top: 112vh;
        padding-bottom: 80rem;
      }
    }

    // &__shapes { // TODO: Check/remove later
    //   position: absolute;
    //   inset: 0;
    //   z-index: 1;
    //   // opacity: 0.2;
    //   will-change: transform;

    //   > div {
    //     position: absolute;
    //     z-index: 1;
    //     width: 440rem;
    //     aspect-ratio: 1;
    //     // border-radius: 50%;
    //     // border: 13rem solid var(--color-red);

    //     &:nth-child(2n) {
    //       left: -3%;
    //     }

    //     &:nth-child(2n + 1) {
    //       right: -3%;
    //     }

    //     @for $i from 1 through 10 {
    //       &:nth-child(#{$i})  {
    //         top: #{-30 + 10 * $i + '%'};
    //       }
    //     }
    //   }
    // }
  }

  .section--navy {
    background: var(--color-navy);
    color: var(--color-white);
  }

  .section--white {
    background: var(--color-white);
    color: var(--color-navy);
  }
}
