
.branding-page {
  .footer {
    // height: 100vh;

    &__top {
      // position: relative;
      // z-index: 1;
      height: 45vh;
      background: var(--color-red);

      // &::after { // TODO: Check later  
      //   content: '';
      //   position: absolute;
      //   inset: 0;
      //   z-index: -1;
      //   background: var(--color-red);
      //   filter: brightness(0.9);
      // }
    }

    &__bottom {
      height: 75vh;
      background: var(--color-navy);
    }
  }
}
