
.branding-page {
  .split-mask-line-mask,
  .split-line {
    display: block;
  }

  .split-word,
  .split-char {
    display: inline-block;
  }

  .split-char,
  .split-line,
  .split-word {
    will-change: transform;
  }

  .split-break {
    display: block;

    @include isDesktop {
      display: none;
    }
  }

  h1 {
    position: relative;
    z-index: 1;
    font-size: 100rem;
    font-weight: 600;
    line-height: 121%;
    
    @include isMobile {
      font-size: 64rem;
    }
    
    .split-line {
      margin: -18rem 0;
      text-align: center;

      @include isMobile {
        margin: -12rem 0;
      }
    }
  }

  h2 {
    font-size: 24rem;
    font-weight: 600;
    line-height: 135%;
  }

  p {
    font-size: 21rem;
    font-weight: 400;
    line-height: 150%;
  }
}
