
// Letur

.branding-page {
  .section--typography {
    .typography-circles {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      width: 100%;
      padding: 0 15rem;
      // margin: -50rem auto;
      // padding: 50rem 15rem;
      // background: var(--color-white);

      @include isMobile {
        flex-direction: column;
        padding: 0;
        // padding: 50rem 0;
      }
    }

    .typography-circle {
      flex: 0 0 calc(20% + 30rem);
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: center;
      width: calc(20% + 30rem);
      margin: 0 -15rem;
      aspect-ratio: 1;
      border: 1px solid var(--color-gray-dark);
      border-radius: 50%;
      text-align: center;

      @include isMobile {
        flex: 0 0 60%;
        width: 60%;
        margin: -15rem 0;
      }

      p {
        font-size: 24rem;
      }
    }

    .box .box__container {
      aspect-ratio: 1;

      @include isDesktop {
        aspect-ratio: 4 / 3;
      }
    }

    .section__content-box-alphabet {
      text-align: center; // TODO
    }

    .section__content-box-3d-letters {
      p {
        font-size: 240rem;
        font-weight: 700;
        line-height: 120%;
        letter-spacing: 0.03em;
      }
    }

    .section__content-box-font-weights {
      .box__container {
        flex-direction: column;
        gap: 24rem;

        p {
          font-size: 40rem;
          line-height: 100%;

          @for $i from 1 through 5 {
            &:nth-child(#{$i}) {
              font-weight: 200 + $i * 100;
            }
          }
        }
      }
    }

    // TODO: Remove/refactor later

    .letters-test {
      display: none;
      position: relative;
      z-index: 1;
      font-size: 240rem;
      font-weight: 700;
      line-height: 120%;
      letter-spacing: 0.03em;
      text-align: center;

      span {
        position: absolute;
        inset: 50% auto auto 50%;
        z-index: 1;
        transform: translate(-50%, -50%);
      }
    }
  }
}
