
.branding-page {
  .logo {
    position: relative;
    z-index: 1;

    svg {
      width: 100%;
      height: 100%;
      overflow: visible;
    }

    &--circle {
      width: 240rem;
      aspect-ratio: 1;
    }

    &--full {
      width: 360rem;
    }

    &--full-white svg path[fill='#0B1423'] {
      fill: var(--color-white);
    }

    &--3d {
      // transform: rotateX(12deg) rotateY(21deg);
      transform-style: preserve-3d;
      perspective: 1234px;
      width: 360rem;
      will-change: transform;

      .logo__container {
        transform-style: preserve-3d;
        width: 100%;
        height: 100%;
        will-change: transform;
      }

      .logo__layers {
        transform-style: preserve-3d;
        width: 100%;
        height: 100%;
  
        > div {
          width: 100%;
          // aspect-ratio: 300 / 169;
          
          @for $i from 1 through 27 {
            &:nth-child(#{$i})  {
              transform: translateZ(#{($i - 1) * -2rem});
            }
          }
  
          svg {
            width: 100%;
            height: auto;
          }
        }
  
        > div:not(:first-child) {
          position: absolute;
          inset: 0;
          z-index: 1;
  
          svg path {
            fill: darken(#fd3d00, 7%);
          }
        }
  
        > div:last-child svg path {
          fill: #fd3d00;
        }
      }
    }

    &--3d-text {
      width: auto;
      color: var(--color-gray);

      .logo__layers > div:not(:first-child) p {
        color: darken(#EEF2F6, 7%); // var(--color-gray)
      }
    }
  }

  .logo-firework {
    position: absolute;
    z-index: 1;

    // &::before {
    //   content: '';
    //   position: absolute;
    //   inset: 0;
    //   background: black;
    //   width: 21rem;
    //   aspect-ratio: 1;
    //   border-radius: 100%;
    // }

    &__bubble-container {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      transform-origin: 0 0;
      will-change: transform;
    }

    &__bubble {
      position: absolute;
      z-index: 1;
      width: 43rem;
      aspect-ratio: 1;
      // width: rem(21);
      // height: rem(21);
      // transform: translateY(-50%);
      background: var(--color-red);
      border-radius: 100%;
      will-change: transform;
    }
  }
}
