
@mixin isMobile {
  @media (max-width: 767px) {
    @content;
  }
}

@mixin isDesktop {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin isUltrawide {
  @media (min-width: 2560px) {
    @content;
  }
}

@font-face {
  font-display: swap;
  font-family: 'Aeonik';
  font-style: normal;
  font-weight: 100 1000;
  src: url('../../assets/fonts/aeonik-variable-roman.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Aeonik';
  font-style: italic;
  font-weight: 100 1000;
  src: url('../../assets/fonts/aeonik-variable-italic.woff2') format('woff2');
}

.branding-page-html {
  --color-gray: #EEF2F6;
  --color-gray-dark: #D3DFE8;
  --color-navy: #0b1423;
  --color-red: #FF3D00;
  --color-white: #F8FAFB;

  --color-gray-rgb: 238, 242, 246;
  --color-gray-dark-rgb: 211, 223, 232;
  --color-navy-rgb: 11, 20, 35;
  --color-red-rgb: 255, 61, 0;
  --color-white-rgb: 248, 250, 251;

  --mobile-design-width: 440;
  --desktop-design-width: 1440;
  --ultrawide-breakpoint: 2560;
  
  scroll-behavior: smooth;
  font-size: calc((100 / var(--mobile-design-width)) * 1vw); // This must match desktop-xl breakpoint

  @include isDesktop {
    font-size: calc((100 / var(--desktop-design-width)) * 1vw);
  }

  @include isUltrawide {
    font-size: calc(((100 / var(--desktop-design-width)) * var(--ultrawide-breakpoint) / 16) * 0.01rem);
  }
}

.branding-page-body {
  background: var(--color-navy);
  font-family: 'Aeonik', sans-serif;
  font-size: 21rem;

  .playground-date {
    color: var(--color-red);
  }
}

.branding-page {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  min-height: 200vh;
  opacity: 0;

  // TODO: Remove/refactor later

  .scramble-test {
    font-size: 43rem;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0.03em;
    text-align: center;

    // .split-char {
    //   width: 40rem;
    //   margin: 0 -5rem;
    // }

    .split-mask-line-mask:nth-child(1) .split-char:nth-child(2),
    .split-mask-line-mask:nth-child(2) .split-char:nth-child(6),
    .split-mask-line-mask:nth-child(3) .split-char:nth-child(4),
    .split-mask-line-mask:nth-child(3) .split-char:nth-child(11),
    .split-mask-line-mask:nth-child(4) .split-char:nth-child(2) {
      color: var(--color-red);
    }
  }

  .letters-test {
    position: relative;
    z-index: 1;
    font-size: 240rem;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0.03em;
    text-align: center;

    span {
      position: absolute;
      inset: 50% auto auto 50%;
      z-index: 1;
      transform: translate(-50%, -50%);
    }
  }

  .firework {
    position: absolute;
    z-index: 1;
  }

  .firework-bubble {
    position: absolute;
    z-index: 1;
    width: 43rem;
    height: 43rem;
    // width: rem(21);
    // height: rem(21);
    // transform: translateY(-50%);
    background: var(--color-red);
    border-radius: 100%;
    will-change: transform;
  }

  .firework-bubble-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    transform-origin: 0 0;
    will-change: transform;
  }
}
