
// Letur

.branding-page {
  .section--font {
    .box .box__container {
      aspect-ratio: 1;

      @include isDesktop {
        aspect-ratio: 4 / 3; // TODO: Check later if better to have all the boxes fitting the screen. Maybe make it 16/9
      }
    }

    .section__content-box-3d-letters {
      .section__content-box-3d-letters-container {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;
        width: 100%;
      }

      p {
        font-size: 240rem;
        font-weight: 700;
        line-height: 120%;
        letter-spacing: 0.03em;
      }
    }

    .section__content-box-font-weights {
      .box__container {
        flex-direction: column;
        gap: 24rem;

        button {
          background: none;
          border: 0;
          font-size: 40rem;
          line-height: 100%;
          cursor: pointer;

          @for $i from 1 through 5 {
            &:nth-child(#{$i}) {
              font-weight: 200 + $i * 100;
            }
          }
        }
      }
    }
  }
}
