
@mixin isMobile {
  @media (max-width: 767px) {
    @content;
  }
}

@mixin isDesktop {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin isUltrawide {
  @media (min-width: 2560px) {
    @content;
  }
}

@font-face {
  font-display: swap;
  font-family: 'Aeonik';
  font-style: normal;
  font-weight: 100 1000;
  src: url('../../assets/fonts/aeonik-variable-roman.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Aeonik';
  font-style: italic;
  font-weight: 100 1000;
  src: url('../../assets/fonts/aeonik-variable-italic.woff2') format('woff2');
}

.branding-page-html {
  --color-gray: #EEF2F6;
  --color-gray-dark: #D3DFE8;
  --color-navy: #0b1423;
  --color-navy-border: #1e27339c;
  --color-navy-light: #1119276b; // lighten(var(--color-navy-rgba), 5%);
  --color-red: #FF3D00;
  --color-white: #F8FAFB;

  --color-gray-rgb: 238, 242, 246;
  --color-gray-dark-rgb: 211, 223, 232;
  --color-navy-rgb: 11, 20, 35;
  --color-red-rgb: 255, 61, 0;
  --color-white-rgb: 248, 250, 251;

  --mobile-design-width: 440;
  --desktop-design-width: 1440;
  --ultrawide-breakpoint: 2560;
  
  scroll-behavior: smooth;
  font-size: calc((100 / var(--mobile-design-width)) * 1vw); // This must match desktop-xl breakpoint

  @include isDesktop {
    font-size: calc((100 / var(--desktop-design-width)) * 1vw);
  }

  @include isUltrawide {
    font-size: calc(((100 / var(--desktop-design-width)) * var(--ultrawide-breakpoint) / 16) * 0.01rem);
  }
}

.branding-page-body {
  background: var(--color-navy);
  font-family: 'Aeonik', sans-serif;
  font-size: 21rem;

  .playground-date {
    color: var(--color-red);
  }
}

.branding-page {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  min-height: 200vh;
  opacity: 0;
}
