
.branding-page {
  .box {
    position: relative;
    z-index: 1;
    width: 100%;
    overflow: hidden;

    &__container {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: center;
      width: 100%;
      overflow: hidden;
      aspect-ratio: 16 / 9;
      border-radius: 40rem;

      @include isMobile {
        aspect-ratio: 9 / 16;
        border-radius: 30rem;
      }
    }

    &--gray .box__container {
      background: var(--color-gray);
      color: var(--color-navy);
    }

    &--navy .box__container {
      background: var(--color-navy);
      color: var(--color-white);
    }

    &--navy-light .box__container {
      background: var(--color-navy-light);
      border: solid 1px var(--color-navy-border);
      color: var(--color-white);
    }

    &--red .box__container {
      // position: relative;
      // z-index: 1;
      background: var(--color-red);
      color: var(--color-gray);

      // &::after { // TODO: Check later
      //   content: '';
      //   position: absolute;
      //   inset: 0;
      //   z-index: -1;
      //   background: var(--color-red);
      //   filter: brightness(0.95);
      // }
    }

    &--white .box__container {
      background: var(--color-white);
      color: var(--color-navy);
    }

    &--small .box__container {
      border-radius: 30rem;

      @include isMobile {
        aspect-ratio: 16 / 9;
      }
    }
  }
}
