
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap");

.test {
  .noi {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 30vw 10vw;
    overflow: hidden;
    background: #f3ede2;
  
    h1 {
      position: relative;
      z-index: 2;
      // padding: 0 3vw;
      padding: 5vw;
      overflow: hidden;
      color: #5d2c00;
      font-family: "EB Garamond", serif;
      font-size: 9vw;
      font-weight: 500;
      font-style: italic;
      line-height: 82%;
      letter-spacing: -0.06em;
      text-align: center;
  
      span {
        color: #dc6413;
      }
  
      &:hover .h1-mask {
        transform: translateY(0%) !important;
      }
    }
  
    .h1-mask {
      position: absolute;
      inset: -9vw;
      z-index: 1;
      // transform: translateY(-100%);
      // transition: transform 2s ease;
  
      > div {
        position: absolute;
        inset: 0;
        z-index: 1;
  
        &:nth-child(1) {
          backdrop-filter: blur(1px);
          mask-image: linear-gradient(
            180deg,
            rgba(0, 0, 0, 0) 12.5%,
            rgba(0, 0, 0, 1) 25%,
            rgba(0, 0, 0, 1) 37.5%,
            rgba(0, 0, 0, 0) 50%
          );
        }
  
        &:nth-child(2) {
          backdrop-filter: blur(2px);
          mask-image: linear-gradient(
            180deg,
            rgba(0, 0, 0, 0) 25%,
            rgba(0, 0, 0, 1) 37.5%,
            rgba(0, 0, 0, 1) 50%,
            rgba(0, 0, 0, 0) 62.5%
          );
        }
  
        &:nth-child(3) {
          backdrop-filter: blur(4px);
          mask-image: linear-gradient(
            180deg,
            rgba(0, 0, 0, 0) 37.5%,
            rgba(0, 0, 0, 1) 50%,
            rgba(0, 0, 0, 1) 62.5%,
            rgba(0, 0, 0, 0) 75%
          );
        }
  
        &:nth-child(4) {
          backdrop-filter: blur(8px);
          mask-image: linear-gradient(
            180deg,
            rgba(0, 0, 0, 0) 50%,
            rgba(0, 0, 0, 1) 62.5%,
            rgba(0, 0, 0, 1) 75%,
            rgba(0, 0, 0, 0) 87.5%
          );
        }
  
        &:nth-child(5) {
          backdrop-filter: blur(16px);
          mask-image: linear-gradient(
            180deg,
            rgba(0, 0, 0, 0) 62.5%,
            rgba(0, 0, 0, 1) 75%,
            rgba(0, 0, 0, 1) 87.5%,
            rgba(0, 0, 0, 0)
          );
        }
  
        &:nth-child(6) {
          // height: 200%;
          backdrop-filter: blur(32px);
          // mask-image: linear-gradient(
          //   180deg,
          //   rgba(0, 0, 0, 0) 37.5%,
          //   rgba(0, 0, 0, 1) 43.75%,
          //   rgba(0, 0, 0, 1)
          // );
          mask-image: linear-gradient(
            180deg,
            rgba(0, 0, 0, 0) 75%,
            rgba(0, 0, 0, 1) 87.5%,
            rgba(0, 0, 0, 1)
          );
        }
      }
    }
  
    .rays {
      position: relative;
      z-index: 31;
      width: 100vw;
      mix-blend-mode: darken;
      pointer-events: none;
  
      > div {
        position: absolute;
        inset: 0 auto auto 50%;
        z-index: 1;
        transform: translate(-50%, -50%) translateY(-11vw) scale(2, 1);
        width: 100%;
        mask-image: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 1) 20%,
            rgba(0, 0, 0, 0.3) 30%,
            rgba(0, 0, 0, 0) 50%,
            rgba(0, 0, 0, 0.3) 70%,
            rgba(0, 0, 0, 1) 80%,
            rgba(0, 0, 0, 0) 100%
          ),
          linear-gradient(
            to right,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 1) 50%,
            rgba(0, 0, 0, 0) 100%
          ),
          radial-gradient(
            circle at center,
            rgba(0, 0, 0, 1) 0%,
            rgba(0, 0, 0, 0) 90%
          );
        mask-composite: intersect;
  
        svg {
          width: 100%;
          aspect-ratio: 1;
  
          path {
            stroke-width: 0.7px;
          }
        }
      }
  
      // > div {
      //   &:first-child {
      //     transform: translate(-50%, -50%) translateY(-16vw) scale(1.5, 1);
      //     mask-image: linear-gradient(
      //       to bottom,
      //       rgba(0, 0, 0, 0) 0%,
      //       rgba(0, 0, 0, 0.5) 20%,
      //       rgba(0, 0, 0, 1) 45%,
      //       rgba(0, 0, 0, 0) 60%
      //     );
      //   }
  
      //   &:last-child {
      //     transform: translate(-50%, -50%) translateY(-6vw) scale(1.5, 1);
      //   }
      // }
    }
  }
  
  .text {
    padding: 10vw;
  }
  
  .drum {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    width: 100vw;
    min-height: 100vh;
    padding: 100vh 0;
  
    > div {
      perspective: 1234px;
  
      > div {
        perspective: 1234px;
      }
    }
  
    h1 {
      font-size: 7vw;
      text-align: center;
    }
  }
  
  // .noi {
  //   display: none !important;
  // }
}
