
body {
  background: #eee;
  color: #111;
  font-family: 'DM Sans', sans-serif;
  font-size: 2.1em;
}

.date {
  position: fixed;
  inset: 0 auto auto 0;
  z-index: 123;
  padding: 21px 0 0 21px;
  font-size: 12px;
}
