
body {
  background: #eee;
  color: #111;
  font-family: 'DM Sans', sans-serif;
  font-size: 2.1em;

  svg {
    display: none;
    transform: translateX(-7em) scaleX(-1);
    width: 12em;
  }
}

.date {
  position: fixed;
  inset: 0 auto auto 0;
  z-index: 123;
  padding: 2vw 0 0 2vw;
  font-size: 13px;
}
