
body {
  background: #eee;
  color: #111;
  font-size: 2.1em;

  svg {
    display: none;
    transform: translateX(-7em) scaleX(-1);
    width: 12em;
  }
}

.date {
  position: fixed;
  inset: 0 auto auto 0;
  z-index: 123;
  padding: 2vw 0 0 2vw;
  font-size: 13px;
}

.vh-test {
  position: fixed;
  inset: 0 0 auto auto;
  z-index: 123;
  padding: 2vw;
  font-size: 13px;
  text-align: right;

  > div {
    position: absolute;
    width: 10px;

    &[data-vh] {
      height: 100vh;
    }

    &[data-dvh] {
      height: 100dvh;
    }

    &[data-svh] {
      height: 100svh;
    }
  }
}

.lines {
  position: fixed;
  inset: 0;
  z-index: 1;
  pointer-events: none;

  div {
    position: fixed;
    z-index: 1;
    margin: 0;
    border: 0;
    opacity: 0.8;

    &::before {
      position: absolute;
      inset: 0 auto auto 0;
      z-index: 1;
      padding: 13px 0 0 2vw;
      overflow: visible;
      font-size: 13px;
    }

    &:nth-child(1) {
      inset: 50% 0 auto 0;
      border-bottom: 1px dashed #f00;

      &::before {
        content: '50%';
        color: #f00;
      }
    }

    &:nth-child(2) {
      inset: 50vh 0 auto 0;
      border-bottom: 1px dashed #00f;

      &::before {
        content: '50vh';
        color: #00f;
      }
    }
  }
}
