---
import { getAstroPages, url } from "../../scripts/core/astro-helpers";

const currentPath = Astro.url.pathname;
const pages = getAstroPages();
---

<style lang="scss">
  .playground-navigation {
    display: flex;
    flex-flow: column nowrap;
    gap: 0.3vw;
    position: fixed;
    inset: 43px auto auto 21px;
    z-index: 123;
    list-style: none;
    font-size: max(12px, 1vw);
    // line-height: 130%;

    [data-active] {
      text-decoration: underline;
    }
  }
</style>

<ul class="playground-navigation">
  <div>env: {process.env.NODE_ENV}</div>
  <li><a href={url("")}>←</a></li>
  {
    pages.map((p) => (
      <li>
        <a
          href={p.url}
          data-active={p.url.replace(/\?.*$/, "") === currentPath}
        >
          {p.title}
        </a>
      </li>
    ))
  }
</ul>
