---
import { getAstroPages, url } from "../../scripts/core/astro-helpers";

const currentPath = Astro.url.pathname;
const pages = getAstroPages();
---

<style lang="scss">
  .playground-navigation {
    display: flex;
    flex-flow: row wrap;
    gap: 0.6vw 1.2vw;
    position: fixed;
    inset: 50px auto auto 2vw;
    z-index: 123;
    list-style: none;
    font-size: max(16px, 1.6vw);

    [data-active] {
      text-decoration: underline;
    }
  }
</style>

<ul class="playground-navigation">
  <li><a href={url("/")}>←</a></li>
  {
    pages.map((p, index) => (
      <li>
        <a
          href={p.url}
          data-active={p.url.replace(/\?.*$/, "") === currentPath}
        >
          {p.title}
        </a>
      </li>
    ))
  }
</ul>
