---
import { getAstroPages } from '../../scripts/core/astro-helpers'

const currentPath = Astro.url.pathname
const pages = getAstroPages()
---

<style lang="scss" is:global>
  // TODO: Remove later
  .playground-navigation li:has(a[href*='branding-page']) {
    display: none;
  }
</style>

<nav class="playground-navigation">
  <ul>
    {
      pages.map((page, index) => (
        <li>
          <a href={page.url} data-active={page.url.replace(/\?.*$/, '') === currentPath && index !== 0 ? true : undefined}>
            <span>{page.navTitle}</span>
            <span>{page.navDescription}</span>
          </a>
        </li>
      ))
    }
  </ul>
</nav>
