
@import 'core/reset.scss';
@import 'core/base.scss';
@import 'core/media-queries.scss';

body {
  background: #eee;
}

.date {
  padding: 2vw;
  font-size: 13px;
}

astro-dev-toolbar {
  display: none !important;
}
