---
import Alphabet from '../components/branding-page-alphabet.astro'
import Logo3D from '../components/branding-page-3d-logo.astro'
import ScrambledText from '../components/branding-page-scrambled-text.astro'

const headline = 'Letrið okkar'
const text = 'Skýrt, nútímalegt og með karakter. Letrið okkar – Aeonik – sameinar fágaðan stíl og góða læsileika. Það virkar á öllum miðlum og speglar nútímalegan, traustan og aðgengilegan persónuleika Vettvangs.'
---

<div class="typography-circles">
  <div class="typography-circle">
    <p>Læsilegt</p>
  </div>
  <div class="typography-circle">
    <p>Þægilegt</p>
    {/* 🎩🕊️💎 */}
  </div>
  <div class="typography-circle">
    <p>Fágað</p>
  </div>
  <div class="typography-circle">
    <p>Fallegt</p>
  </div>
  <div class="typography-circle">
    <p>Sterkt</p>
  </div>
</div>
<div class="grid">
  <div class="grid__col grid__col--6">
    <h2 class="split-content-text" set:html={headline} />
  </div>
  <div class="grid__col grid__col--6">
    <p class="split-content-text" set:html={text} />
  </div>
</div>
<div class="grid">
  <div class="grid__col grid__col--6">
    <div class="box box--gray box--small section__content-box-alphabet">
      <div class="box__container">
        <Alphabet />
      </div>
    </div>
  </div>
  <div class="grid__col grid__col--6">
    <div class="box box--navy box--small section__content-box-scrambled-text">
      <div class="box__container">
        <ScrambledText />
      </div>
    </div>
  </div>
  <div class="grid__col grid__col--6">
    <div class="box box--red box--small section__content-box-3d-letters">
      <div class="box__container">
        <Logo3D text="Aa" />
        <p class="letters-test">
          <span>Aa</span>
          <span>Áá</span>
          <span>Bb</span>
          <span>Dd</span>
          <span>Ðð</span>
          <span>Ee</span>
          <span>Éé</span>
          <span>Ff</span>
          <span>Gg</span>
          <span>Hh</span>
          <span>Ii</span>
          <span>Íí</span>
          <span>Jj</span>
          <span>Kk</span>
          <span>Ll</span>
          <span>Mm</span>
          <span>Nn</span>
          <span>Oo</span>
          <span>Óó</span>
          <span>Pp</span>
          <span>Rr</span>
          <span>Ss</span>
          <span>Tt</span>
          <span>Uu</span>
          <span>Úú</span>
          <span>Vv</span>
          <span>Xx</span>
          <span>Yy</span>
          <span>Ýý</span>
          <span>Þþ</span>
          <span>Ææ</span>
          <span>Öö</span>
        </p>
      </div>
    </div>
  </div>
  <div class="grid__col grid__col--6">
    <div class="box box--gray box--small section__content-box-font-weights">
      <div class="box__container">
        <p>Light</p>
        <p>Regular</p>
        <p>Medium</p>
        <p>SemiBold</p>
        <p>Bold</p>
      </div>
    </div>
  </div>
</div>
