<div class="typo-circles">
  <div class="typo-circles__pin">
    <div class="container">
      <ul>
        <li>
          <span>Læsilegt</span>
        </li>
        <li>
          <span>Þægilegt</span>
        </li>
        <li>
          <span>Fallegt</span>
        </li>
        <li>
          <span>Fágað</span>
        </li>
        <li>
          <span>Sterkt</span>
        </li>
      </ul>
    </div>
  </div>
</div>
