---
const { navigation } = Astro.props
---

<nav class="navigation navigation--navy">
  <a class="navigation__logo" href="#heim">
    <svg width="44" height="25" viewBox="0 0 44 25" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M29.0658 24.25L43.2269 0.25H39.0035L26.9531 20.6619L29.0658 24.25Z" fill="#FD3D00"></path>
      <path d="M25.4564 18.1432L36.0083 0.25H31.7545L23.3438 14.5268L25.4564 18.1432Z" fill="#FD3D00"></path>
      <path d="M28.7613 0.25H0.5L14.6307 24.25L28.7613 0.25ZM22.4291 3.83432L14.6307 17.0738L6.83418 3.83432H22.4291Z" fill="#FD3D00"></path>
    </svg>
    <div class="navigation__background"></div>
  </a>
  <div class="navigation__links">
    {
      navigation.map(
        (item, index) =>
          index !== 0 &&
          index !== navigation.length - 1 && (
            <a class="navigation__link" href={item.url}>
              {item.label}
              <div class="navigation__link-status">
                <div />
              </div>
              <div class="navigation__link-highlight" />
            </a>
          )
      )
    }
    <div class="navigation__background"></div>
  </div>
</nav>
