---
import Colors from './branding-page-colors.astro'
import Logo3D from './branding-page-3d-logo.astro'
import Mockup from './branding-page-mockup.astro'
import ScrambledText from './branding-page-scrambled-text.astro'
---

<div class="grid">
  <div class="grid__col grid__col--12">
    <div class="box box--white section__content-box-reel">
      <div class="box__container">[reel]</div>
    </div>
  </div>
  <div class="grid__col grid__col--6">
    <div class="box box--red box--small section__content-box-colors">
      <div class="box__container"><Colors /></div>
    </div>
  </div>
  <div class="grid__col grid__col--6">
    <div class="box box--navy box--small section__content-box-scrambled-text">
      <div class="box__container">
        <ScrambledText />
      </div>
    </div>
  </div>
  <div class="grid__col grid__col--6">
    <div class="box box--gray box--small section__content-box-3d-logo">
      <div class="box__container">
        <Logo3D />
      </div>
    </div>
  </div>
  <div class="grid__col grid__col--6">
    <div class="box box--red box--small section__content-box-mockup">
      <div class="box__container">
        <Mockup />
      </div>
    </div>
  </div>
</div>
