---
import Logo3D from './branding-page-3d-logo.astro'
---

<div class="grid">
  <div class="grid__col grid__col--12">
    <div class="box box--white section__content-box-reel">
      <div class="box__container">[reel]</div>
    </div>
  </div>
  <div class="grid__col grid__col--6">
    <div class="box box--red box--small section__content-box-colors">
      <div class="box__container">[colors]</div>
    </div>
  </div>
  <div class="grid__col grid__col--6">
    <div class="box box--navy box--small section__content-box-scrambled-text">
      <div class="box__container">[alphabet]</div>
    </div>
  </div>
  <div class="grid__col grid__col--6">
    <div class="box box--gray box--small section__content-box-3d-logo">
      <div class="box__container">
        <Logo3D />
      </div>
    </div>
  </div>
  <div class="grid__col grid__col--6">
    <div class="box box--red box--small section__content-box-mockup">
      <div class="box__container">
        <div class="mockup-image"></div>
        <iframe src="https://vettvangur.is" title="Vettvangur website mockup"></iframe>
      </div>
    </div>
  </div>
</div>
