<div class="colors">
  <div class="colors__container">
    <div>
      <p class="colors__label">Galdur <span>60%</span></p>
      <p class="colors__hex">#0B1423</p>
    </div>
    <div>
      <p class="colors__label">Glit <span>30%</span></p>
      <p class="colors__hex">#EEF2F6</p>
    </div>
    <div>
      <p class="colors__label">OG <span>10%</span></p>
      <p class="colors__hex">#FF3D00</p>
    </div>
  </div>
</div>
