<div class="symbols">
  {Array.from({ length: 7 }).map(() => <div class="symbol" />)}
</div>
<div class="grid">
  <div class="grid__col grid__col--6">
    <h2 class="split-content-text">Grafísk element sækja<br /> innblástur í merki Vettvangs</h2>
  </div>
  <div class="grid__col grid__col--6">
    <p class="split-content-text">Við tjáum okkur í gegnum einföld form sem tákna fjölbreytni okkar. Fjölbreytt fólk, fjölbreytt verkefni, fjölbreytt starfssvið. Táknin hjálpa til að segja söguna og bæta sérstöðu og persónuleika.</p>
  </div>
</div>
<div class="shapes">
  {
    Array.from({ length: 3 }).map(() => (
      <div class="shape shape--circle-stroke">
        <div class="shape__gradient shape__gradient--conic" />
      </div>
    ))
  }
</div>
