<div class="box box--navy">
  <div class="box__container">
    <h1 class="split-content-text tone__text">Við látum<br /> <strong>verkin</strong> tala</h1>
  </div>
</div>
<div class="grid">
  <div class="grid__col grid__col--6">
    <h2 class="split-content-text">Rödd Vettvangs</h2>
  </div>
  <div class="grid__col grid__col--6">
    <p class="split-content-text">Við erum skýr, traust og mannleg – hún gefur tóninn í öllum samskiptum og hjálpar til við að byggja upp traust og tengingu, hvar sem við mætum notandanum.</p>
  </div>
</div>
