<div class="alphabet">
  <div class="aplhabet__row alphabet__row--1">
    <button>Regular</button>
    <button>Medium</button>
    <button>Bold</button>
  </div>
  <div class="aplhabet__row alphabet__row--2">
    <p>Aeonik</p>
  </div>
  <div class="aplhabet__row alphabet__row--3">
    <p>AÁBDÐEÉFGHIÍJKLMNOÓPRSTUÚVWXYÝZÞÆQÖ</p>
    <p>aábdðeéfghiíjklmnoóprstuúvwxyýzþæqö</p>
    <p>0123456789?!&@„“«»%*^#/( )[ ]</p>
  </div>
</div>
