<ul class="typo-circles">
  <li>
    <span>Læsilegt</span>
  </li>
  <li>
    <span>Þægilegt</span>
  </li>
  <li>
    <span>Fallegt</span>
  </li>
  <li>
    <span>Fágað</span>
  </li>
  <li>
    <span>Sterkt</span>
  </li>
</ul>
