---
import Layout from '../layouts/layout.astro'
import Navigation from 'src/components/navigation.astro'
import Text from 'src/components/text.astro'
---

<script>
  import gsap from 'gsap'
  import { ScrollSmoother } from 'gsap/ScrollSmoother'
  import { ScrollTrigger } from 'gsap/ScrollTrigger'

  gsap.registerPlugin(ScrollSmoother, ScrollTrigger)

  ScrollSmoother.create({
      content: '.smooth-content',
      effects: false,
      smooth: 1.23,
      smoothTouch: 0.1,
      wrapper: '.smooth-wrapper',
    })

</script>

<Layout title='gsap smooth scroll'>
  <Navigation active='3' />
  <div class='smooth-wrapper'>
    <div class='smooth-content'>
      <Text />
    </div>
  </div>
</Layout>
