---
export const frontmatter = {
  baseClass: 'svg-text-on-path-animation',
  title: 'SVG text on path animation',
}

import Layout from '../layouts/layout.astro'
import '../styles/playground/svg-text-on-path-animation.scss'
---

<script>
  import stuff from '../scripts/playground/svg-text-on-path-animation'
  stuff.init()
</script>

<Layout baseClass={frontmatter.baseClass} title={frontmatter.title}>
  <main class={frontmatter.baseClass}>

    <div class="ellipse">
      <svg viewBox="0 0 240 240" xmlns="http://www.w3.org/2000/svg">
        <path d="M227 120C227 142.091 178.871 160 119.5 160C60.1294 160 12 142.091 12 120C12 97.9086 60.1294 80 119.5 80C178.871 80 227 97.9086 227 120Z" />
      </svg>
    </div>
    <div class="shape">
      <svg width="364" height="191" viewBox="0 0 364 191" xmlns="http://www.w3.org/2000/svg">
        <path d="M364 71.9999C364 123.915 282.516 166 182 166C81.4842 166 0.000153953 261.5 1.59432e-10 71.9999C-0.000131611 -90.0002 81.4842 72.0005 182 72.0005C282.516 72.0005 364 20.0851 364 71.9999Z" fill="#D9D9D9"/>
      </svg>
    </div>

  </main>
</Layout>
