---
import Layout from '../layouts/layout.astro'
import Navigation from 'src/components/navigation.astro'
---
<style lang="scss">
  .bla {
    background: green;

    &__inner {
      color: white;
      padding: 1em;
      border-radius: 0.5em;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    &__square {
      width: 10vw;
      height: 10vw;
      background: blue;

      @include isMobile {
        background: red;
      }
    }
  }
</style>
<script>
  import gsap from 'gsap'

  document.querySelector('.bla__inner').addEventListener('click', () => {
    console.log('Hello from the bla__inner element!');
  });

  document.querySelector('.bla__square').addEventListener('click', () => {
    gsap.to('.bla__square', { rotation: '+=45' });
  });
</script>

<Layout title="Home">
  <h1>Hello from Astro 👋</h1>
  <Navigation />
  <a href="./">Index page</a>
  <div class="bla">
    <div class="bla__inner">
      <p>Minim tempor sint incididunt occaecat mollit ex aliquip ullamco.</p>
      <div class="bla__square"></div>
    </div>
  </div>
</Layout>
