---
export const frontmatter = {
  navDescription: '',
  navTitle: '/',
}

import Layout from '../layouts/playground-layout.astro'
---

<Layout metaDescription="Ccrch playground" metaTitle="Hi!">
  <!-- <a class="link" href={url("/scroll-vanilla")}>→</a> -->
</Layout>
