---
export const frontmatter = {
  title: 'Hi!',
}

import Layout from '../layouts/playground-layout.astro'
---

<Layout title={frontmatter.title}>
  <!-- <a class="link" href={url("/scroll-vanilla")}>→</a> -->
</Layout>
