---
export const frontmatter = {
  baseClass: 'pinning-test',
  description: 'ScrollTriggers test with Lenis scroll + 100dvh fix',
  title: 'Pinning test (Lenis + css)',
}

import Layout from '../layouts/playground-layout.astro'
import Content from 'src/astro/components/pinning-test-content.astro'
---

<script>
  import { lenisScroll } from '../../scripts/core/helpers'
  import pinText from '../../scripts/playground/pinning-test'

  lenisScroll.init()
  pinText()
</script>

<style>
  html,
  body {
    height: 100dvh;
    min-height: 100dvh;
  }

  body {
    min-height: 100dvh;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch; // for smoother iOS experience
  }
</style>

<Layout title={frontmatter.title}>
  <main class={frontmatter.baseClass} slot="body">
    <Content />
  </main>
</Layout>
