---
export const frontmatter = {
  baseClass: 'pinning-test',
  navDescription: 'ScrollTriggers test with vanilla scroll',
  navTitle: 'Pinning test',
}

import Layout from '../layouts/playground-layout.astro'
import Content from 'src/astro/components/pinning-test-content.astro'
---

<script>
  import pinText from '../../scripts/playground/pinning-test'

  pinText()
</script>

<Layout baseClass={frontmatter.baseClass} metaDescription={frontmatter.navDescription} metaTitle={frontmatter.navTitle}>
  <main class={frontmatter.baseClass} slot="body">
    <Content />
  </main>
</Layout>
