---
export const frontmatter = {
  title: "GSAP smooth scroll",
};

import Layout from "../layouts/layout.astro";
import Text from "src/astro/components/text.astro";
---

<script>
  import gsap from "gsap";
  import { ScrollSmoother } from "gsap/ScrollSmoother";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  import pinText from "../../scripts/playground/pin-text";

  gsap.registerPlugin(ScrollSmoother, ScrollTrigger);

  ScrollSmoother.create({
    content: ".smooth-content",
    effects: false,
    normalizeScroll: true,
    smooth: 1.23,
    wrapper: ".smooth-wrapper",
  });

  pinText();
</script>

<Layout title={frontmatter.title}>
  <div class="smooth-wrapper">
    <div class="smooth-content">
      <Text />
    </div>
  </div>
</Layout>
