
<style lang="scss">
  .nav {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      display: inline;
      margin-right: 1em;

      a {
        text-decoration: none;
        color: #0070f3;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

</style>

<ul class="nav">
  <li><a href="./scroll-vanilla">vanilla</a></li>
  <li><a href="./scroll-lenis">lenis</a></li>
  <li><a href="./scroll-smoother">scroll smoother</a></li>
  <li><a href="./scroll-swup">swup</a></li>
</ul>
