---
import { url } from '../scripts/core/astro-helpers'

const { active } = Astro.props
---

<style lang='scss'>
  .navigation {
    display: flex;
    flex-flow: row nowrap;
    gap: 4vw;
    position: fixed;
    inset: 50px auto auto 2vw; 
    z-index: 123;
    list-style: none;
    font-size: max(16px, 2vw);

    [data-active] {
      text-decoration: underline;
    }
  }
</style>

<ul class='navigation'>
  <li><a href={url('/')}>index</a></li>
  <li><a href={url('/scroll-vanilla')} data-active={active === '1'}>vanilla</a></li>
  <li><a href={url('/scroll-lenis')} data-active={active === '2'}>lenis</a></li>
  <li><a href={url('/scroll-gsap')} data-active={active === '3'}>gsap</a></li>
  <li><a href={url('/scroll-swup')} data-active={active === '4'}>swup</a></li>
</ul>
