---
const randomText = (min = 10, max = 30) => {
  const amount = Math.floor(Math.random() * (max - min + 1)) + min // gsap.utils.random(min, max)
  let text = ''
  const words = [
    'lorem',
    'ipsum',
    'dolor',
    'sit',
    'amet',
    'consectetur',
    'adipiscing',
    'elit',
    'sed',
    'do',
    'eiusmod',
    'tempor',
    'incididunt',
    'ut',
    'labore',
    'et',
    'dolore',
    'magna',
    'aliqua',
  ]

  Array.from({ length: amount }).forEach(() => {
    const randomIndex = Math.floor(Math.random() * words.length)
    text += `${words[randomIndex]} `
  })

  text = text.trim()
  text = `${text.charAt(0).toUpperCase()}${text.slice(1)}`

  return text
}
---

<style lang='scss'>
  .scrolltriggers-test {
    padding-top: 70vh;

    .title {
      padding: 20vh 10vw;
      opacity: 0;

      p {
        // display: none;
        margin: 5vw auto 0;
        max-width: 75%;
        text-align: center;
      }
    }

    .asdf {
      position: relative;
      z-index: 1;

      &::before {
        content: '';
        position: absolute;
        inset: -2vw;
        border: 1px dashed #f00;
      }
    }

    section {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: center;
      gap: 3vw;
      padding: 10vw;
    }

    h1 {
      font-size: 11vw;
      line-height: 90%;
      text-align: center;
    }

    p {
      font-size: 3vw;
      line-height: 154%;

      @media (max-width: 768px) {
        font-size: 6vw;
      }
    }
  }
</style>

<div class='scrolltriggers-test'>
  <section class='title'><div class='asdf'><h1>{randomText(2, 3)}</h1><p>{randomText(15, 15)}</p></div></section>
  <section class='text'><p>{randomText(70, 140)}</p><p>{randomText(70, 140)}</p></section>
  <section class='title'><div class='asdf'><h1>{randomText(2, 3)}</h1><p>{randomText(15, 15)}</p></div></section>
  <section class='text'><p>{randomText(70, 140)}</p><p>{randomText(70, 140)}</p></section>
  <section class='title'><div class='asdf'><h1>{randomText(2, 3)}</h1><p>{randomText(15, 15)}</p></div></section>
  <section class='text'><p>{randomText(70, 140)}</p><p>{randomText(70, 140)}</p></section>
</div>
