---
const { title } = Astro.props

import '../styles/styles.scss'
// import RunScript from '../scripts/RunScript'

const now = new Date()
const formatted = now.toLocaleString('en-GB', {
  weekday: 'long',
  year: 'numeric',
  month: 'long',
  day: 'numeric',
  hour: '2-digit',
  minute: '2-digit',
  second: '2-digit'
})
---

<script>
  import { initScripts } from '../scripts/scripts'
  
  initScripts()
</script>

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="author" content="Ccrch">
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <title>{title}</title>
  </head>
  <body>
    <main>
      <div class="date">{formatted}</div>
      <slot />
    </main>
    <!-- <RunScript client:load /> -->
  </body>
</html>
