---
import Layout from '../../layouts/layout.astro'
// import { url } from '../../scripts/core/astro-helpers'
---

<style lang='scss'>
  .text {
    padding: 10vw;
  }
</style>

<Layout title='test'>
  <div class='text'>Aute qui ad nisi dolore consectetur proident anim velit consectetur est ad id voluptate.</div>
</Layout>
