---
import Layout from '../../layouts/layout.astro'
import Navigation from 'src/components/navigation.astro'
// import { url } from '../../scripts/core/astro-helpers'
---

<style lang='scss'>
  .text {
    padding: 10vw;
  }
</style>

<Layout title='test'>
  <Navigation active='6' />
  <div class='text'>Magna minim veniam sint sunt irure deserunt occaecat in nisi. Aliqua cupidatat dolor consectetur nisi nostrud commodo velit sint sint laborum laborum. Lorem sunt sunt ut id et cupidatat magna et do aliqua elit. Eiusmod mollit ipsum sit consequat exercitation ad in dolor ex. Nostrud est laborum sunt deserunt occaecat minim in pariatur. Velit nulla commodo elit excepteur dolor pariatur nisi dolore. Fugiat occaecat non ad irure ad veniam duis. Irure pariatur tempor aliqua labore excepteur aliquip enim ut laborum. Dolore ad non occaecat incididunt laborum nisi in commodo excepteur duis ut. Ad cupidatat dolor do qui aliquip magna ex voluptate commodo cupidatat amet. Sint mollit labore esse sit ad aliquip laborum laborum sint dolor. Et commodo Lorem ad consectetur. In voluptate fugiat mollit in sint aliquip cupidatat do minim dolor ex id amet.</div>
</Layout>
